{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Categories{% endblock %}</h1>

{% if g.user %}
<a class="action" href="{{ url_for('categories.create') }}">New</a>

{% endif %} {% endblock %} {% block content %} {% for b in budget %}

<article class="transactions">
  <header>
    {% if g.user['id'] == b['user_id']%}
    <div>
      <p>{{ b['category_id'] }}</p>
      <p>{{ b['category'] }}</p>
      <p>{{ b['amount_budget'] }}</p>

      <a
        class="action"
        href="{{ url_for('budget.update', id=b['category_id']) }}"
        >Edit</a
      >
    </div>
    {% endif %}
  </header>
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}
