<!DOCTYPE html>
<title>{% block title %}{% endblock %} FinanceApp</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}"
/>
<nav>
  <h1>FinanceApp</h1>
  <ul>
    <li><a href="{{ url_for('transactions.index') }}">Transactions</a></li>

    {% if g.user %}
    <li><span>{{ g.user['username'] }}</span></li>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a> {% else %}</li>

    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    <li>
      <a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </li>
  </ul>
</nav>
<section class="content">
  <nav>
    <ul>
      <li><a href="{{ url_for('categories.index_cat') }}">Categories</a></li>
      <li>
        <a href="{{ url_for('payment_methods.index_payment_method') }}"
          >Payment Methods</a
        >
      </li>
      <li>
        <a href="{{ url_for('transaction_types.index_transaction_type') }}"
          >Transactions Types</a
        >
      </li>
    </ul>
  </nav>
  <header>{% block header %}{% endblock %}</header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} {% block content %}{% endblock %}
</section>
