{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Payment methods{% endblock %}</h1>
{% if g.user %}

<a class="action" href="{{ url_for('payment_methods.create') }}">New</a>

{% endif %} {% endblock %} {% block content %} {% for payment_method in
payment_methods %}

<article class="transactions">
  <header>
    <div>
      <p>{{ payment_method['payment_method'] }}</p>
      <form
        action="{{ url_for('payment_methods.delete', id=payment_method['id']) }}"
        method="post"
      >
        <input
          class="danger"
          type="submit"
          value="Delete"
          onclick="return confirm('Are you sure?');"
        />
      </form>

      <a
        class="action"
        href="{{ url_for('payment_methods.update', id=payment_method['id']) }}"
        >Edit</a
      >
    </div>
  </header>
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}
