{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Edit "{{ payment_method['id'] }}"{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="payment_method">payment_method</label>
  <input
    type="payment_method"
    name="payment_method"
    id="payment_method"
    value="{{ payment_method['payment_method']}}"
    required
  />

  <input type="submit" value="Save" />
</form>

<form
  action="{{ url_for('payment_methods.delete', id=payment_method['id']) }}"
  method="post"
>
  <input
    class="danger"
    type="submit"
    value="Delete"
    onclick="return confirm('Are you sure?');"
  />
</form>

{% endblock %}
