{% extends 'base.html' %} {% block header %}
<h1>{% block title %}New transaction{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="date">Date</label>
  <input type="date" name="date" id="date" required />

  <label for="description">description</label>
  <input name="description" id="description" required />

  <label for="amount">Amount</label>
  <input name="amount" id="amount" required />

  <label for="is_paid">is paid ?</label>

  <select id="is_paid" name="is_paid" required>
    <option value="true">Si</option>
    <option value="false">No</option>
  </select>

  <label for="category_id">Category</label>
  <select id="category_id" name="category_id" required>
    {% block cats %} {% for category in categories %}
    <option value="{{category['id_categories']}}">
      {{category['category']}}
    </option>
    {% endfor %} {%endblock%}
  </select>

  <label for="payment_method_id">Payment Method</label>
  <select id="payment_method_id" name="payment_method_id" required>
    {% block pm %} {% for payment_method in payment_methods %}
    <option value="{{payment_method['id']}}">
      {{payment_method['payment_method']}}
    </option>
    {% endfor %} {%endblock%}
  </select>

  <label for="type_id">Transaction type</label>
  <select id="type_id" name="type_id" required>
    {% block tt %} {% for transaction_type in transaction_types %}
    <option value="{{transaction_type['id']}}">
      {{transaction_type['transaction_type']}}
    </option>
    {% endfor %} {%endblock%}
  </select>

  <input type="submit" value="Save" />
</form>

{% endblock %}
