{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Transactions{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('transactions.create') }}">New</a>

{% endif %} {% endblock %} {% block content %}
<article class="transactions">
  <header>
    <div>
      <p>Id</p>
      <p>Transaction date</p>
      <p>Description</p>
      <p>Value</p>
      <p>delete?</p>
      <p>Edit?</p>
    </div>
  </header>
</article>
{% for transaction in transactions %}
<p>{{transaction['t.user_id']}}</p>
<article class="transactions">
  <header>
    {% if g.user['id'] == transaction['user_id'] %}
    <div>
      <h1>{{ transaction['id'] }}</h1>
      <p>{{ transaction['date_tx'] }}</p>
      <p class="body">{{ transaction['description'] }}</p>
      <p>{{ transaction['amount'] }}</p>

      <form
        action="{{ url_for('transactions.delete', id=transaction['id']) }}"
        method="post"
      >
        <input
          class="danger"
          type="submit"
          value="Delete"
          onclick="return confirm('Are you sure?');"
        />
      </form>

      <a
        class="action"
        href="{{ url_for('transactions.update', id=transaction['id']) }}"
        >Edit</a
      >
    </div>

    {% else %}
    <p>Please login into your accoun</p>

    {% endif%}
  </header>
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}
