{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Transactions{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('transactions.create') }}">New</a>
{% endif %} {% endblock %} {% block content %} {% for transaction in
transactions %}
<article class="transactions">
  <header>
    <div>
      <h1>{{ transactions['id'] }}</h1>

      <!--  <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div> -->
    </div>
    {% if g.user['id'] == transactions['user_id'] %}
    <a
      class="action"
      href="{{ url_for('transactions.update', id=transactions['id']) }}"
      >Edit</a
    >
    {% endif %}
  </header>
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}
