{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Edit "{{ transaction['description'] }}"{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="date">Date</label>
  <input
    name="date"
    id="date"
    value="{{ transaction['date_tx'] }}"
    type="date"
    required
  />
  <label for="description">description</label>
  <input
    name="description"
    id="description"
    value="{{ transaction['description'] }}"
    required
  />

  <input
    name="amount"
    id="amount"
    value="{{ transaction['amount'] }}"
    required
  />
  <input type="submit" value="Save" />
</form>
<hr />
<form
  action="{{ url_for('transactions.delete', id=transaction['id']) }}"
  method="post"
>
  <input
    class="danger"
    type="submit"
    value="Delete"
    onclick="return confirm('Are you sure?');"
  />
</form>
{% endblock %}
